<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/cadastro.css">
    <title>Cadastro</title>
</head>
<body>
    <h1>Seja bem vindo!</h1>

    <section>
        <form action="" method="post">
            {{ form.csrf_token }}
            <label for="nome_label">Seu nome</label>
            {{ form.nome(placeholder='João Silva') }}
            <label for="data_label">Data de nascimento</label>
            {{ form.nascimento }}
            <label for="email_label">Email</label>
            {{ form.email(placeholder='seu@email.com') }}
            <label for="senha_label">Senha</label>
            {{ form.senha(placeholder='********') }}
            <input type="submit" value="Bora!">
        </form> 

        
    </section>
</body>
</html>