<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dados_compl_1.css">
    <title>Seus interesses</title>
</head>
<body>
    <h1>O que você deseja?</h1>
    <section>
        <form action="post">
            <input type="text" list="options" id="input-field" onkeyup="gerenciarOptions()">
                <datalist id="options">
                <option value="Opção 1">
                <option value="Opção 2">
                <option value="Opção 3">
                <option value="Opção 4">
                <option value="Opção 5">
                </datalist>
            <input type="text" class="hide" id="cursos">
        </form>

        <section id="cursos-selecionados">

        </section>
    </section>
</body>
<script src="../static/dados_compl_1.js"></script>

</html>