<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dados_compl.css">
    <title>Notas</title>
</head>
<body>
    <h1>Insira suas notas</h1>
    <section id="sup">
        <form action="" method="post">
            <!-- <label for="">Matemática e suas Tecnologias</label>
            <input type="number" min="0" max="1000" step="0.1">
            <label for="">Linguagens e suas Tecnologias</label>
            <input type="number" min="0" max="1000" step="0.1">
            <label for="">Ciências da natureza e suas Tecnologias</label>
            <input type="number" min="0" max="1000" step="0.1">
            <label for="">Ciências humanas e suas Tecnologias</label>
            <input type="number" min="0" max="1000" step="0.1">
            <label for="">Redação</label>
            <input type="number" min="0" max="1000" step="0.1"> -->
            {{ form.csrf_token }}

            <label for="">Matemática e suas Tecnologias</label>
            {{ form.matematica(min="0", max="1000", step="0.1") }}
            <label for="">Linguagens e suas Tecnologias</label>
            {{ form.linguagens(min="0", max="1000", step="0.1") }}
            <label for="">Ciências da natureza e suas Tecnologias</label>
            {{ form.ciencias_natureza(min="0", max="1000", step="0.1") }}
            <label for="">Ciências humanas e suas Tecnologias</label>
            {{ form.ciencias_humanas(min="0", max="1000", step="0.1") }}
            <label for="">Redação</label>
            {{ form.redacao(min="0", max="1000", step="0.1") }}

            <button type="submit">Enviar</button>
        </form>
    </section>
</body>
</html>