<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dados_compl_1.css">
    <title>Seus interesses</title>
</head>
<body>
    <h1>Personalize sua experiência</h1>
    
    <form action="", method="post">
        
        {{ form.csrf_token }}
        <section id="turnos">
            <!-- <h2>Escolha os turnos que você quer estudar</h2>
            <label for="turnos"></label>
            <input type="checkbox" id="Matutino"><label for="">Matutino</label>
            <input type="checkbox" id="Vespertino"><label for="">Vespertino</label>
            <input type="checkbox" id="Noturno"><label for="">Noturno</label>
            <input type="checkbox" id="Integral"><label for="">Integral</label>
            <input type="checkbox" id="EaD"><label for="">EaD</label> -->
            
            {{ form.matutino(id="Matutino") }}<label for="":>Matutino</label>
            {{ form.vespertino(id="Vespertino") }}<label for="":>Vespertino</label>
            {{ form.noturno(id="Noturno") }}<label for="":>Noturno</label>
            {{ form.integral(id="Integral") }}<label for="":>Integral</label>
            {{ form.ead(id="EaD") }}<label for="":>Ead</label>
                
        </section>
        
        <section id="cotas">
            <h2>Selecione os campos que você se adequa</h2>
            <label for="turnos"></label>
            <!-- <input type="checkbox" id="escola_pub"><label for="">estudei somente em escola pública</label>
            <input type="checkbox" id="preto_pardo"><label for="">sou preto ou pardo</label>
            <input type="checkbox" id="indigena"><label for="">sou indígena</label>
            <input type="checkbox" id="deficiente"><label for="">sou deficiente</label>
            <input type="checkbox" id="trans_trav"><label for="">sou Transexual, travesti ou transgênero</label>
            <input type="checkbox" id="quilombola"><label for="">sou quilombola</label> -->

            {{ form.escola_publica(id="Escola_Publica") }}<label for="">estudei somente em escola pública</label>
            {{ form.preto_pardo(id="Preto_Pardo") }}<label for="">sou preto ou pardo</label>
            {{ form.indigena(id="Indigena") }}<label for="">sou indígena</label>
            {{ form.deficiente(id="Deficiente") }}<label for="">sou deficiente</label>
            {{ form.trans_trav(id="Trans_Trav") }}<label for="">sou Transexual, travesti ou transgênero</label>
            {{ form.quilombola(id="Quilombola") }}<label for="">sou quilombola</label>
        </section>

        <button type="submit">Enviar</button>
    </form>
        
</body>
<script src="../static/dados_compl_1.js"></script>

</html>