<h1>O que você deseja?</h1>
    <section>
        <form action="" method="post">
            <section id="cursos">
            <h2>Adicione os cursos que você deseja fazer</h2>
            <label for="input-field">Cursos</label>
            <input type="text" list="options" id="input-field" onkeyup="gerenciarOptions()">
                <datalist id="options">
                <option value="Opção 1">
                <option value="Opção 2">
                <option value="Opção 3">
                <option value="Opção 4">
                <option value="Opção 5">
                </datalist>   
            <input type="text" class="hide" id="input-array">
            <section id="cursos-selecionados"></section>
            </section>

            <section id="grau">
                <h2>Selecione o grau de formação</h2>
                <input type="checkbox" id="Bacharelado"><label for="">Bacharelado</label>
                <input type="checkbox" id="Licenciatura"><label for="">Licenciatura</label>
                <input type="checkbox" id="Tecnologico"><label for="">Tecnológico</label>
                <input type="checkbox" id="ABI"><label for="">Área Básica de Ingresso (ABI)</label>

            </section>

            <button type="submit">Enviar</button>
        </form>

        
    </section>