<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encontre seu curso</title>
    <link rel="stylesheet" href="../static/search.css">
</head>
<body>
    <form action="get">
        <section id="search">
            <input type="text">
            <input type="submit">
        </section>
        
        <h2>Filtros</h2>
        <section id="filtros">  
            <section>
                <h3>Grau</h3>
                
                <section class="checkbox">
                <div><input type="checkbox" id=""><label for="">Bacharelado</label></div>
                <div><input type="checkbox" id=""><label for="">Licenciatura</label></div>
                <div><input type="checkbox" id=""><label for="">ABI</label></div>
                <div><input type="checkbox" id=""><label for="">Tecnológico</label></div>
                </section>
            </section>
                    
            <section>
                <h3>Cotas</h3>

                <section class="checkbox">
                <div><input type="checkbox" id=""><label for="">Preto/Pardo/Indígena</label></div>
                <div><input type="checkbox" id=""><label for="">Baixa renda</label></div>
                <div><input type="checkbox" id=""><label for="">Escola Pública</label></div>
                <div><input type="checkbox" id=""><label for="">Deficiente</label></div>
                <div><input type="checkbox" id=""><label for="">Transexual/Travesti/Transgênero</label></div>
                <div><input type="checkbox" id=""><label for="">Quilombola</label></div>
                </section>
            </section>
                    
            <section>
                <h3>Turnos</h3>
                
                <section class="checkbox">
                <div><input type="checkbox" id=""><label for="">Matutino</label></div>
                <div><input type="checkbox" id=""><label for="">Vespertino</label></div>
                <div><input type="checkbox" id=""><label for="">Noturno</label></div>
                <div><input type="checkbox" id=""><label for="">Integral</label></div>
                <div><input type="checkbox" id=""><label for="">EaD</label></div>
            </section>
            </section>
                    
        </section>
    </form>

    <main>
        <h2>Principais Resultados</h2>
        <section>        
            <a href="#">
            <div class="card">
                <h3>Nome Curso</h3>
                <span>UFMG</span>
                <p>grau - turno</p>
                <p>modalidade 000,00</p>
            </div>
            </a>

            <a href="#">
                <div class="card">
                    <h3>Nome Curso</h3>
                    <span>UFMG</span>
                    <p>grau - turno</p>
                    <p>modalidade 000,00</p>
                </div>
            </a>

            <a href="#">
                <div class="card">
                    <h3>Nome Curso</h3>
                    <span>UFMG</span>
                    <p>grau - turno</p>
                    <p>modalidade 000,00</p>
                </div>
            </a>
        </section>
        
    </main>
</body>
</html>