/* CONFIG GLOBAIS */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

:root {
    --cor1: #FF0080;
    --cor2: #1d1d1d;
    --cor3: #EEE8EF;
    --cor4: #e2e222;
    --cor5: hsl(330, 100%, 45%);
    --cor6: #131313;
    --cor7: #8b8b8b;
}

* {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

/* CABEÇALHO */

header {
    background-color: var(--cor6);
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding-left: 25px;
    align-items: center;
    transition: 0.2s;
}

header ul {
    list-style: none;
    display: flex;
}

header nav li {    
    text-align: center;
}

header nav li:hover a {
    color: var(--cor6);
    background: var(--cor5);
}

header nav a {
    display: inline-block;
    padding: 25px;
    color: var(--cor7);
}



/* ALERTAS */
aside.alert {
    background: var(--cor4);
    transition: 1s;
    margin: auto;
    padding: 10px;
}

aside.alert ul {
    text-align: center;
    margin-left: 20px;
}


/* CORPO */

body {
    background-color: var(--cor2);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

div.form-title {
    color: var(--cor3);
    text-align: center;
    padding: 50px 0px 50px;
}

div.form-title h1 {
    font-size: 42px;
    padding-bottom: 5px;
}

div.form-title p {
    color: var(--cor7);
    font-size: 22px;
}

div.form-title a {
    color: var(--cor1);
}

div.form-title a:hover {
    text-decoration: underline;
}

/* FORMULÁRIO */

form {
    display: flex;
}

form img {
    display: inline;
    margin: auto;
    margin-right: -40px;
    padding: 0px 0px 0px 50px;
}

form > div {
    padding: 5px 0px;
}

form div.conteudo {
    display: inline;
    width: 100%;
}

form div.content-form {
    display: flex;
    margin: auto;
    width: 80vw;
    max-width: 500px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.445);
    border-radius: 20px;
    padding: 15px 20px 20px 20px;
}

form input {
    color: var(--cor3);
    border: none;
    border-radius: 8px;
    padding: 8px 5px;
    text-decoration: none;
    display: block;
    background: var(--cor6);
    width: 100%;
}

form label[for="remember"], form input[type=checkbox] {
    display: inline;
    width: unset;
}

form label {
    display: block;
    padding: 10px 0px 7px;
    color: var(--cor7);
}

form div.form-data {
    display: flex;
    justify-content: space-between;

}

form div.data-nasc {
    margin-right: -10px;
}

form div.data-nasc select {
    display: inline;
    background: var(--cor6);
    color: var(--cor7);
    border: none;
    padding: 5px 9px;
    border-radius: 5px;
    width: 31%;
}

form button {
    color: var(--cor6);
    font-weight: 700;
    background: var(--cor1);
    text-align: center;
    text-decoration: none;
    border: none;
    display: block;
    padding: 8px 5px;
    border-radius: 8px;
    width: 104%;
    cursor: pointer;
    margin: 15px 0px;
}

footer {
    margin-top: 50px;
    background-color: var(--cor6);
    color: var(--cor7);
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    width: 100vw;
}

/* MOBILE */

#btn-mobile {
    display: none;
    align-self: center;
    margin-right: 25px;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}

@media (max-width:600px) {
    #btn-mobile {
        display: flex;
    }

    nav ul {
        height: 0px;
        display: block;
        background: #8b8b8bbd;
        backdrop-filter: blur(10px);
        position: absolute;
        width: 100%;
        right: 0px;
        top: 70px;
        transition: 0.5s;
        visibility: visible;
        overflow-y: hidden;
    } 

    header nav a {
        color: var(--cor6);
    }

    header.active nav ul {
        height: calc(100vh - 70px);
        position: absolute;
        visibility: visible;
        overflow-y: auto;
    }

    header.active nav a {
        color: var(--cor6);
        display: block;
        padding: 25px 0px;
        width: 100%;
        border-bottom: solid 1px var(--cor7);
    }

    #hamburguer {
        color: var(--cor1);
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20;
        height: 2px;
        margin-top: 5px;
        background: currentColor;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }

}

