/* CONFIG GLOBAIS */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

:root {
    --cor1: #FF0080;
    --cor2: #1d1d1d;
    --cor3: #EEE8EF;
    --cor4: #e2e222;
    --cor5: hsl(330, 100%, 45%);
    --cor6: #131313;
    --cor7: #8b8b8b;
}

* {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

/* CABEÇALHO */

header {
    background-color: var(--cor6);
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding-left: 25px;
    align-items: center;
    transition: 0.2s;
}

header ul {
    list-style: none;
    display: flex;
}

header nav li {    
    text-align: center;
}

header nav li:hover a {
    color: var(--cor6);
    background: var(--cor5);
}

header nav a {
    display: inline-block;
    padding: 25px;
    color: var(--cor7);
}



/* ALERTAS */
aside.alert {
    background: var(--cor4);
    transition: 1s;
    margin: auto;
    padding: 10px;
}

aside.alert ul {
    text-align: center;
    margin-left: 20px;
}


/* CORPO */

body {
    background-color: var(--cor2);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

main {
    margin: 0px 20px;
    color: var(--cor3);
    padding-bottom: 50px;
    justify-content: center;
}

div.card-sup {
    margin:  50px auto 0px auto;
    text-align: center;
    width: 80vw;
    max-width: 500px;
    height: 75px;
    border-radius: 15px 15px 0px 0px;
    background-color: var(--cor1);
    box-shadow: 2px 2px 2px rgb(0 0 0 / 45%);
}

div.card-sup h1 {
    padding-top: 20px;
    color: var(--cor6);
}

div.card-bot {
    margin: auto;
    width: 80vw;
    max-width: 500px;
    height: 420px;
    border-radius: 0px 0px 15px 15px;
    background-color: var(--cor2);
    box-shadow: 2px 2px 2px rgb(0 0 0 / 45%);
}

table {
    border-collapse: collapse;
    width: 80vw;
    max-width: 500px;
}

td {
    padding-left: 25px;
}

tr:nth-child(odd) {
    background: #161616;
}

input[type=checkbox] {
    padding: 0px 10px;
}

input[type=number] {
    border: none;
    background: transparent;
    color: var(--cor3);
    font-size: 1.2em;
    padding: 15px;
}

div.cotas {
    margin: 20px 25px 15px 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.cota {
    margin-bottom: 15px;
    display: block;
    /*width: 210px;*/
    padding-right: 15px;
}

label {
    margin-left: 8px;
}

div.buttons {
    display: flex;
    justify-content: center;
}

button {
    margin-right: 15px;
    border: none;
    background:var(--cor6);
    color: var(--cor3);
    font-size: 1.2em;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    text-decoration: underline;
}

button#salvar, button#edit-btn {
    background-color: var(--cor1);
}

/*
details {
    margin: 0px 0px 15px 30px;
}

details summary {
    margin-bottom: 15px;
}

details ul {
    margin: 15px 0px 0px 15px;
}

details li {
    margin-bottom: 10px;
}*/

/* MOBILE */

#btn-mobile {
    display: none;
    align-self: center;
    margin-right: 25px;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}

footer {
    background-color: var(--cor6);
    color: var(--cor7);
    padding: 50px 0px;
    display: flex;
    justify-content: center;
}

@media (max-width:600px) {
    #btn-mobile {
        display: flex;
    }

    nav ul {
        height: 0px;
        display: block;
        background: #8b8b8bbd;
        backdrop-filter: blur(10px);
        position: absolute;
        width: 100%;
        right: 0px;
        top: 70px;
        transition: 0.5s;
        visibility: visible;
        overflow-y: hidden;
    } 

    header nav a {
        color: var(--cor6);
    }

    header.active nav ul {
        height: calc(100vh - 70px);
        position: absolute;
        visibility: visible;
        overflow-y: auto;
    }

    header.active nav a {
        color: var(--cor6);
        display: block;
        padding: 25px 0px;
        width: 100%;
        border-bottom: solid 1px var(--cor7);
    }

    #hamburguer {
        color: var(--cor1);
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20;
        height: 2px;
        margin-top: 5px;
        background: currentColor;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}